<%-# This is the end div for the 'main' div -%>
    </div> 
    <div id="footer">
      <div id="footer_inner">
        <div id="footer_menu">
	      <%= link_to 'Contact', contact_path %> |
          <%= link_to 'Features', features_path %> |
          <%= link_to 'Terms', terms_path %> |
          <%= link_to 'Blog', 'http://blog.secondsip.com' %>
        </div>
      </div>
    </div>
</div>
</body>
</html>
