<%-# This is the end div for the 'main' div -%>
    </div> 
    <div id="footer">
      <div id="footer_inner">
        <div id="footer_menu">
          <%= link_to 'About Second Sip', about_path %> |
          <%= link_to 'Terms', terms_path %>
        </div>
      </div>
    </div>
</div>
</body>
</html>
