<%-
  link = case topnav_tab.tab
  when :home then
    link_to('Home', "/", :class => topnav_tab.css_class)
  when :tags then
    link_to('Tags', tags_path, :class => topnav_tab.css_class)
  when :lookups then
    link_to('Lookups', lookups_path, :class => topnav_tab.css_class)
  when :tasters then
    link_to('Tasters', tasters_path, :class => topnav_tab.css_class)
  when :beverage then
    link_to("Community Notes",
            browse_notes_path(@note_class.name.tableize), :class => topnav_tab.css_class)
  when :taster then
    link_to(displayed_taster.username, taster_path(displayed_taster), :class => topnav_tab.css_class)
  when :my_notes then
    link_to("My #{@note_class.name.titleize.pluralize}", polymorphic_path([current_taster, @note_class]), :class => topnav_tab.css_class)
  when :reference_producers then
    link_to('Producers', reference_breweries_path, :class => topnav_tab.css_class)
  when :reference_products then
    link_to('Products', reference_beers_path, :class => topnav_tab.css_class)
  when :monitor then
    link_to('Monitor', monitor_path, :class => topnav_tab.css_class)
  else raise 'Unexpected tab: ' + topnav_tab.tab.to_s
  end
-%>
<li><%= link %></li>