<div class="friends rightpane_separator">
  <h4>Friends</h4>
  <%= link_to('Add a friend', new_friendship_path, :class => 'friend_invite') %>
  <div class="friends_container">
    <% if @friendships.present? %>
      <% friendship_links = @friendships.collect {|friendship| link_to friendship.inviter.username, friendship.inviter} %>
      <%=raw friendship_links.join(', ') %>
    <% end %>
    <% if @friendship_invitations.present? %>
      <h5>Invitations</h5>
      <ul>
      <% @friendship_invitations.each do |invitation| %>
        <li><%= link_to invitation.inviter.username, invitation.inviter %>
            <div class="invitation_actions"><%= link_to 'view', edit_friendship_path(invitation) %></div></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>