
<h3>Final Step - Email Verification</h3>
<p>
Thanks for signing up!  In order to ensure the security of the site, we require all users to verify their email address.  An email has been sent to your inbox with a link.  Once you click the link, your account will be activated.
</p>




