
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Tasters" } %>

<% if @tasters && !@tasters.empty? %>
  <div class="main_list">
    <%= render :partial => 'taster', :collection => @tasters %>
  </div>
<% else %>
  <%= render :partial => 'common/global/simple_message',
             :object => "There are no tasters." %>
<% end %>

<%= render :partial => 'common/lists/paging_bar' %>


