
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "About Second Sip" } %>

<div class="narrative about">

<p class="top_intro">
Second Sip is a free tool for organizing and sharing tasting notes for beer, wine, and spirits. 
Our goal is to encourage and support a culture of artisan food and beverage.  
We hope that you enjoy using it as much as we do.
<p>
<h2>What's different about Second Sip?</h2>
<ul>
  <li><span>Add as much or as little detail as you have time for</span>
    <p>Creating a new note is as simple as entering the name.  However, 
       when you have time you can fill in many more fields such as
       style, region, occasion, vineyards, varietals, aroma, and on and on.
       The more information you add, the more the tool can help you organize
       it for future reference.</p>
  </li>
  <li><span>Not limited to commercial products</span>
    <p>Second Sip is designed to make it easy to catalog obscure or unusual
       products that are not widely available.  This is especially useful for
       hobbyists who make their own and could not sell it even if they wanted to.</p>
  </li>
  <li><span>Your own notes &quot;sandbox&quot;</span>
    <p>When you register, a section of the site is set aside for you at 
       http://www.secondsip.com/[username].  The search and browse functions on that page
       are limited to only your notes.</p>
  </li>
  <li><span>Private or friend-level sharing</span>
    <p>We understand that you may want to remember your opinion of
       a drink, but may not want the world to know it.  By setting the sharing
       level of any note to private, you can keep your thoughts to yourself.
       The friend sharing level ensures that only your friends will know how much
       you hate that wine.</p>
  </li>
</ul>

<h2>Contact Info</h2>
<p>
  If you have any technical issues or questions, or simply want to chat about artisan beer wine or spirits,
  feel free to drop us a line at <a href="mailto:customersupport@secondsip.com">customersupport@secondsip.com</a>.
</p>

</div>
