
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Account Activation" } %>

<div class="intro wordy_intro">
<p>The account is already active.</p>
<p>If you know your password then you can <%= link_to 'log in here', login_path %>.</p>
<p>If you have forgotten your password then you can <%= link_to 'reset it here', new_password_reset_path %>.
</p>
</div>
<br/><br/><br/><br/>