
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Account Activation" } %>

<div class="intro wordy_intro">
<p>An activation email has been sent to the email address: <%= @taster.email %>.
   You will then need to follow the link in the email within 60 minutes to complete activation.
</p>
</div>
<br/><br/><br/><br/>