<%
  allow_edit = current_taster == owner
  return if !edit_user_tags.present? && !allow_edit
%>
<div class="tag_edit tags">
  <h4>Tags</h4>
  <%= render :partial => 'common/edit/edit_tags', :object => edit_user_tags,
             :locals => { :allow_edit => allow_edit,
               :entity_path => entity_path,
               :ajax_container => 'tags_ajax', :add_action => 'add_tag',
               :remove_action => 'remove_tag'} %>
</div>
  