<%
  allow_edit = current_taster == tag_container.owner
  return if !tag_container.tags.present? && !allow_edit
%>
<div class="tag_edit tags">
  <h4>Tags</h4>
  <%= render :partial => 'common/edit/edit_tags', :object => tag_container.tags,
             :locals => { :is_admin => false, :controller_path => tag_container.class.name.tableize,
                          :container_id => tag_container.id, :allow_edit => allow_edit } %>
</div>
  