<%
  return if !(current_taster && current_taster.is?(:admin))
%>
<div class="tag_edit tags">
  <h4>Admin Tags</h4>
  <%= render :partial => 'common/edit/edit_tags', :object => edit_admin_tags,
             :locals => { :allow_edit => true, :entity_path => entity_path,
               :ajax_container => 'admin_tags_ajax', :add_action => 'add_admin_tag',
               :remove_action => 'remove_admin_tag'} %>
               
  <%= render :partial => 'common/scripts/autocomplete_script',
             :locals => { :field_id => 'add_admin_tag',
                          :entities_path => admin_tags_path,
                          :params => {'entity_type' => tag_container.type} } %>
                          
</div>