<%-
  messages_only = defined?(messages_only) ? messages_only : false
-%>
<% if entity.errors.any? %>
  <div class="error_explanation">
    <h2>Please update these fields:</h2>
    <ul>
  	<% if messages_only %>
  		<% entity.errors.each do |attr, msg| %>
  	    <li><%= msg %></li>
  	  <% end %>
  	<% else %>
  		<% entity.errors.full_messages.each do |msg| %>
  	    <li><%= msg %></li>
  	  <% end %>
  	<% end %>
    </ul>
  </div>
<% end %>