<%
  return if lookup_collection.nil?
%>
<% lookup_collection.each_with_index do |lookup, index| %>
  <li>
    <%= link_to(lookup.name, '#', :class => 'item_name lookup_link', :tabindex => '-1',
                :entity_type => entity_type, :lookup_type => lookup_type,
                :onclick => 'show_lookup_references(this); return false;') %>
    <%= link_to('X', '#', :class => 'remove_item', :tabindex => '-1',
                :onclick => "$(this).closest('li').remove(); return false;") %>
    <input type="hidden" name="<%= lookup_name %>_names[]" value="<%= lookup.name %>"/>
  </li>
<% end %>