<%
  return if collection_names.nil?
%>
<% collection_names.each_with_index do |name, index| %>
  <li>
    <%= link_to(name, '#', :class => 'item_name lookup_link', :tabindex => '-1',
                :entity_type => entity_type, :lookup_type => lookup_type,
                :onclick => 'show_lookup_references(this); return false;') %>
    <%= link_to('X', '#', :class => 'remove_item', :tabindex => '-1',
                :onclick => "$(this).closest('li').remove(); return false;") %>
    <input type="hidden" name="<%= lookup_name %>_names[]" value="<%= name %>"/>
  </li>
<% end %>