
<div class="form_row">
  <div id="note_details_toggle" class="details_toggle">
    <a href="#" class="toggle_off" tabindex="-1">[+]</a></div>
  <%= note_fields.label :occasion_name, 'Occasion:' %>
  <%= note_fields.text_field :occasion_name, :class => 'text_field text_wide', 
      :entity_type => @note_class.name, :lookup_type => Enums::LookupType::OCCASION %>
</div>

<%= render :partial => 'common/scripts/autocomplete_script',
           :locals => { :field_id => "#{@note_class.underscore}_occasion_name",
                        :entities_path => 'lookups',
                        :on_select_function => "show_lookup_references",
                        :on_click_function => "show_lookup_references",
                        :params => {'lookup_type' => Enums::LookupType::OCCASION,
                                    'entity_type' => @note_class.name} } %>