
<div class="form_row">
  <%= label_tag :occasion_name, 'Occasion:' %>
  <%= text_field_tag :occasion_name, @note.occasion.try(:name), :class => 'text_field text_wide', 
      :entity_type => @note.type, :lookup_type => Enums::LookupType::OCCASION %>
</div>

<%= render :partial => 'common/scripts/autocomplete_script',
           :locals => { :field_id => "occasion_name",
                        :entities_path => lookups_path,
                        :params => {'lookup_type' => Enums::LookupType::OCCASION,
                                    'entity_type' => @note_class.name} } %>