
<div class="form_row">
  <%= product_fields.label :style_name, title %>
  <%= product_fields.text_field :style_name, :class => 'text_field text_wide', 
      :entity_type => @product.type, :lookup_type => Enums::LookupType::STYLE %>
</div>

<%= render :partial => 'common/scripts/click_lookup_script',
           :locals => { :entity_path => @product_class.underscore, :lookup_name => 'style' } %>

<%= render :partial => 'common/scripts/autocomplete_script',
           :locals => { :field_id => "#{@product_class.underscore}_style_name",
                        :entities_path => 'lookups',
                        :on_select_function => "show_lookup_references",
                        :on_click_function => "show_lookup_references",
                        :params => {'lookup_type' => Enums::LookupType::STYLE,
                                    'entity_type' => @product_class.name} } %>