

<div class="narrative terms">
<p>
These Terms and Conditions (the "Terms") govern the use of the Second Sip
website service (the "Service") made available to you by Second Sip LLC
("Second Sip"). By clicking the "ACCEPT AND AGREE" button below, or by
accessing or using the Service, you acknowledge that you have read these Terms,
understand them, and agree to be bound by them. If you do not agree to the terms
and conditions of these Terms, click the "DECLINE" button and do not access or
use the Service. Second Sip will not and does not make the Service available
to you unless you agree to these Terms.
</p>
<p>
In consideration of the promises and covenants described below, and other good
and valuable consideration, the receipt and sufficiency of which is hereby
acknowledged, you agree as follows:
</p>

<h2>1. Definitions.</h2>
<p>
a. "Contributions" means all information, records, tasting notes, comments,
data and other material posted by you to
the Service or otherwise provided by you to Second Sip.
</p><p>
b. "Service" means Second Sip's proprietary website service that allows
the management of information about personal wine notes and promotes the
enhancement of wine appreciation and information.
</p>

<h2>2. Service.</h2>
<p>
Subject to your compliance with the terms and conditions
hereof, Second Sip grants you a limited, nonexclusive, nontransferable,
personal and revocable license to access and use the Service for your
personal and noncommercial use. You acknowledge that the Service utilizes
usernames and passwords to enable access to the Service. You shall have the
right to use a single username and password that you designate and identify
to Second Sip. THE SERVICE IS SUBJECT TO CHANGE OR CANCELLATION AT
SECOND SIP'S SOLE DISCRETION AND WITHOUT NOTICE TO YOU.
</p>

<h2>3. Limitations and Restrictions.</h2>
<p>
Except as specifically provided
herein, you may not, in whole or in part: (a) copy, distribute, transmit,
display, perform, reproduce, publish, license, rewrite, create derivative
works from, transfer, or sell any material contained on this Service;
(b) reverse engineer, make alterations, decompile, disassemble or make
derivative works based on the Service or any part thereof, except as
otherwise permitted by law; (c) use, rent, loan, sub-license, lease,
distribute or attempt to grant other rights to the Service or any part
thereof to third parties; or (d) use the Service to act as a service bureau
or application service provider, or to permit remote access to the Service
to any third party. Nothing in these Terms shall give you the right or
license to use any trademarks used in connection with the Service, including
without limitation "Second Sip" and/or any marks of Second Sip's
providers or suppliers.
</p>

<h2>4. Prohibited Actions.</h2>
<p>
Your failure to comply with any of the
following conditions shall constitute a violation of these Terms and result
in the termination of your right to use the Service without notice:
</p><p>
a. You may not use the Service for commercial purposes of any kind.
Notwithstanding the foregoing, restaurants may post their wine lists, menu
items and prices, but may not use Service for any other promotional purposes
without Second Sip's specific prior written permission.
</p><p>
b. You may not use the Service in any way that infringes or contributes to
the infringement of any intellectual property rights or privacy rights of
others or that is obscene, defamatory, harmful, abusive, threatening or
false.
</p><p>
c. You may not use the Service in a manner that violates any applicable
laws, rules or regulations, whether federal, state or local or those of any
foreign jurisdiction, nor may you use the Service in a way for unlawful
purposes or to promote any unlawful activities.
</p><p>
d. You may not interfere or attempt to interfere in any manner with the
proper working of the Service. You may not take any action that imposes an
unreasonable or disproportionately large load on the Service or Second Sip's infrastructure.
</p><p>
e. You may not rent, loan, or sub-license any username or password to a
third party. You may not impersonate another person or solicit passwords or
personally identifying information from other users.
</p><p>
f. You may not use the Service, directly or indirectly, to transmit "junk
mail", "chain letters", or unsolicited mass mailing or to "spam" others.
</p>

<h2>5. Contributions.</h2>
<p>
a. You acknowledge and agree that your public Contributions will be accessible
by all other Second Sip users.  Contributions with "friend" sharing level
will be accessible by all of the users that you have created a friendship with.
Contributions with a private sharing level will be accessible only by you through
the normal use of the Service.  We will not share private Contributions through
other channels.  However, despite our best efforts the security of the site may be
compromised or "hacked" and we cannot guarantee that information such as private
notes will not be stolen.
</p><p>
b. Second Sip does not screen Contributions in advance and is not
responsible for screening or monitoring information or material posted by
users or any other person or entity. If notified by a user of Contributions
that are alleged not to conform to these Terms, Second Sip may review the
claim and determine in its sole discretion to remove or request the removal
of the Contributions. Second Sip reserves the right to remove
Contributions that are abusive, illegal, disruptive or that otherwise fail
to conform with these Terms. Second Sip reserves the right (but is not
obligated) to edit or delete any Contributions posted on the Second Sip
Service, regardless of whether such Contributions violate these standards
for Contributions.
</p><p>
c. Second Sip reserves the right (but is not obligated) to monitor, edit,
disclose or record any type of Contributions for adherence to these Terms.
Second Sip may exercise these rights if required, in the course of normal
operations and maintenance of the Service, or by law or in the good faith
belief that such action is necessary to: (i) comply with the law or with
legal process served; (ii) protect and defend the rights of Second Sip or
others; or (iii) act in an emergency to protect the personal safety of our
users or the public or to protect the operation or integrity of the
Second Sip infrastructure. SECOND SIP HAS NO LIABILITY OR
RESPONSIBILITY TO USERS OR ANY OTHER PERSON OR ENTITY FOR PERFORMANCE OR
NONPERFORMANCE OF THE AFOREMENTIONED SCREENING ACTIVITIES.
</p><p>
d. By posting Contributions, you are granting to Second Sip and its
licensees a worldwide, royalty-free, perpetual, non-exclusive and
irrevocable right and license to use, reproduce, modify, adapt, publish,
translate, create derivative works from, distribute, perform and display
such Contributions by you (in whole or in part) and/or to incorporate it in
other works in any form, media or technology now or hereafter known.
e. You represent and warrant that you have the right to transmit to and
authorize Second Sip to use the Contributions and all information,
materials, data or records that you provide to Second Sip in connection
with the Service as set forth in hereunder.
</p>

<h2>6. No Commercial Use.</h2>
<p>
Except as expressly permitted to restaurants
in Section 4(a), the Forums and other areas of this Service may not be used
by you for any commercial or promotional purposes, including without
limitation to conduct sales of merchandise or services of any kind. You must
obtain Second Sip's prior written consent to make commercial offers of
any kind, whether by advertising, solicitations, links, or any other form of
communication.
</p>

<h2>7. Offline Conduct.</h2>
<p>
Although Second Sip cannot monitor the
conduct of its users off the Service, it is also a violation of these rules
to use any information obtained from this Service in order to harass, abuse,
or harm another person, or in order to contact, advertise to, solicit or
sell to any user without such users prior explicit consent.
</p>

<h2>8. Access and Interference.</h2>
<p>
You may not use any robot, spider, other
automatic device, or manual process to monitor or copy any portion of the
Service or the Contributions contained thereon or for any other unauthorized
purpose without our prior express written permission. You may not use any
device, software or routine to interfere or attempt to interfere with the
proper working of the Second Sip Service. You may not take any action
that imposes an unreasonable or disproportionately large load on
Second Sip's infrastructure.
</p>

<h2>9. Termination.</h2>
<p>
Your right to access and use the Service will
automatically terminate without notice, if you breach any provision of these
Terms. You agree that Second Sip may terminate your use of this Service,
remove your Contributions and/or exercise any other remedy available to it
if Second Sip reasonably believes that you have violated or acted
inconsistently with the letter or spirit of these Terms, or violated the
rights of Second Sip or any third party, or for any reason with or
without notice to you. SECOND SIP RESERVES THE RIGHT TO TERMINATE YOUR
ACCOUNT OR DISCONTINUE THE SERVICE OR ANY PORTION OR FEATURE THEREOF FOR ANY
OR NO REASON AND AT ANY TIME IN SECOND SIP'S SOLE DISCRETION. You agree
that Second Sip will not be liable to you or any third party as a result
of such modification or discontinuation. The following Sections shall
survive termination of these Terms: 3(b), 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,
18, and 19 and all other sections that may be reasonably interpreted to
or are intended to survive these Terms.
</p>

<h2>10. Amendment.</h2>
<p>
Second Sip may modify any of the terms and
conditions contained in these Terms, at any time by providing you notice of
the change via email. IF ANY MODIFICATION IS UNACCEPTABLE TO YOU, YOUR ONLY
RECOURSE IS TO TERMINATE THIS AGREEMENT. YOUR CONTINUED USE OF THE SERVICE
FOLLOWING NOTICE OF A CHANGE WILL CONSTITUTE BINDING ACCEPTANCE OF THE
CHANGE.
</p>

<h2>11. Proprietary Rights.</h2>
<p>
Second Sip owns all right, title and
interest in and to the Service, including without limitation, copyright,
patent, trademark and trade secret rights therein, and you understand and
agree that you receive no ownership rights in and to the Service. You agree
to take all steps necessary to protect Second Sip's proprietary rights in
the Service related to your use and possession of the same, including but
not limited to, maintaining the confidentiality of your username and
password. You will, at your own cost and expense, protect and defend
Second Sip's ownership of the Service against all claims, liens and legal
processes of your creditors and will keep the Service free and clear of all
such claims, liens and processes. ALL RIGHTS NOT EXPRESSLY GRANTED HEREIN
ARE RESERVED TO SECOND SIP.
</p>

<h2>12. Confidentiality.</h2>
<p>
The Service is and contains confidential and
proprietary information of Second Sip. You agree to hold in strict
confidence, not to use or disclose to any third party, and to take all
necessary precautions to secure the confidentiality of the Service and any
other nonpublic information of Second Sip (collectively "Confidential
Information"). You agree to take all steps necessary to safeguard the
Confidential Information against unauthorized disclosure, reproduction,
publication, or use, and to satisfy your obligations hereunder. In
accordance with this provision, you will maintain at least the same
precautions as you take in regard to your own confidential information, but
not less than reasonable care. You will not at any time, during or after the
conclusion of your use of the Service, directly or indirectly, divulge or
disclose for any purpose or use for its own benefit or for the purposes or
benefit of any other person any Confidential Information. You shall
immediately advise Second Sip in writing of any improper disclosure,
misappropriation, or misuse of the Confidential Information, which may come
to your attention.
</p>

<h2>13. No Responsibility.</h2>
<p>
You, as the user of the Service, assume full
responsibility for the selection and use of the Service and for the access,
use and results obtained from the Service.
</p><p>
a. Second Sip assumes no liability for or relating to the delay, failure,
interruption or corruption of any data or other information transmitted in
connection with use of the Service. Second Sip is not liable for any lost
data resulting from the access, use and operation of the Service and/or the
enforcement of these Terms. The entire risk arising out of the use or
performance of the Service remains with you. Second Sip urges all users
to maintain their own back up versions of any Contributions they submit to
the Service.
</p><p>
b. If your use of this Service results in the need for servicing or
replacing property, material, equipment or data, Second Sip is not
responsible for those costs. No agent or representative has the authority to
create any warranty regarding this Service on behalf of Second Sip.
c. Second Sip does not assume any liability for the content of any
material provided on this Service. Reliance on any information presented on
this Service is at your own risk. Second Sip reserves the right to change
or discontinue any aspect or feature of this Service at any time.
</p><p>
d. Second Sip disclaims any and all liability for the acts, omissions and
conduct of any users, advertisers and/or sponsors on the Service or
otherwise related to your use of the Service. Second Sip is not
responsible for the products, services, actions or failure to act of any
other third party in connection with or referenced on the Service. Without
limiting the foregoing, you may report the misconduct of users and/or
advertisers or sponsors, referenced on or included in the Service to
Second Sip. Second Sip may review your claim and take any actions it
deems appropriate, in its sole discretion.
</p><p>
e. SECOND SIP DOES NOT WARRANT THAT THE SERVICE WILL MEET YOUR
REQUIREMENTS OR THAT THE OPERATION OF THE SERVICE WILL BE RELIABLE,
UNINTERRUPTED OR ERROR-FREE. SECOND SIP MAKES NO REPRESENTATIONS OR
WARRANTIES ABOUT THE SUITABILITY, RELIABILITY, TIMELINESS, COMPLETENESS AND
ACCURACY, FOR ANY PURPOSE, OF THE SERVICE, ITS OPERATION OR ANY INFORMATION,
INPUT OR RESULTS OBTAINED THEREBY. SECOND SIP DOES NOT WARRANT THAT THE
SERVICE IS ACCURATE, COMPLETE, FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS,
OR THAT IT WILL BE ACCESSIBLE ON AN ONGOING BASIS OR WITHOUT INTERRUPTION.
</p><p>
f. WITHOUT LIMITING THE FOREGOING, THE SERVICE IS PROVIDED TO YOU "AS IS"
AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESSED OR
IMPLIED, INCLUDING WITHOUT LIMITATION, WARRANTIES OF TITLE, MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
</p>

<h2>14. Limitation of Liability and Exclusive Remedy.</h2>
<p>
TO THE MAXIMUM
EXTENT PERMITTED BY APPLICABLE LAW: IN NO EVENT SHALL SECOND SIP BE
LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DIRECT,
CONSEQUENTIAL, INDIRECT, SPECIAL, OR INCIDENTAL DAMAGES, OR DAMAGES FOR LOSS
OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR
OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF OR INABILITY TO USE THE
SERVICE, EVEN IF SECOND SIP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
DAMAGES. YOUR SOLE AND EXCLUSIVE REMEDY FROM YOUR USE OR INABILITY TO USE
THE SERVICE OR ANY OTHER BREACH OF THESE TERMS BY SECOND SIP SHALL BE FOR
YOU TO DISCONTINUE USE OF THE SERVICE. SOME STATES DO NOT ALLOW THE
EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL
DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU UNDER THE LAWS OF
THOSE STATES. No action, regardless of form, arising out of any transaction
under these Terms, may be brought by you more than one year after you have
knowledge of the occurrence which gives rise to the cause of such action.
</p>

<h2>15. Waiver and Release.</h2>
<p>
YOU HEREBY DISCLAIM, WAIVE AND RELEASE TO
SECOND SIP AND COVENANT NOT TO SUE SECOND SIP FOR ANY AND ALL CLAIMS,
CAUSES OF ACTION, JUDGMENTS, INJURY, LOSS, DAMAGES, EXPENSES AND DEMANDS
WHICH MAY ARISE IN CONNECTION WITH YOUR USE OF, RELIANCE ON, OR REFERENCE TO
THE SERVICE.
</p>

<h2>16. Your Warranty to Second Sip.</h2>
<p>
You warrant that you will observe
and perform all the terms and conditions of these Terms. You agree to
immediately notify Second Sip in writing of any misuse, misappropriation
or unauthorized disclosure, display or copying of the Service that may come
to your attention.
</p>

<h2>17. Indemnity.</h2>
<p>
You agree to indemnify, defend and hold harmless
Second Sip and its officers, directors, employees, consultants,
suppliers, agents and contractors from any and all claims, actions, losses,
liabilities, damages, costs and expenses (including without limitation
attorneys' fees) resulting from or incidental to: (i) your use or inability
to use, whether by act or omission, the Service; (ii) any claim of
infringement of any intellectual property rights, privacy rights or
violations any other rights of any third party based on your use of the
Service, or any Contributions or Third Party Materials posted by you or on
your behalf; (iii) Second Sip's use of the Contributions, Third Party
Materials or other information, materials or records provided by you; or
(iv) any negligence or willful misconduct or any breach of any warranty or
covenant hereunder by you. Second Sip may, at its option and expense,
participate in its defense with counsel of its choosing. You may not settle
any such claim without Second Sip's prior written consent.
</p>

<h2>18. Injunctive Relief.</h2>
<p>
Because of the unique nature of the Service,
you understand and agree that Second Sip may suffer irreparable injury in
the event you fail to comply with any of these Terms and that monetary
damages may be inadequate to compensate Second Sip for such breach.
Accordingly, you agree that Second Sip will, in addition to any other
remedies available to it at law or in equity, be entitled to immediate,
injunctive relief to enforce these Terms without the necessity of posting a
bond.
</p>

<h2>19. General.</h2>
<p>
a. Assignment, Successors. No right or license under these Terms may be
assigned or transferred by you, nor may any duty be delegated by you without
Second Sip's prior written consent. Any assignment, transfer or
delegation in contradiction of this provision shall be null and void.
Subject to the foregoing, these Terms will bind and inure to the benefit of
the successors and assigns of you and Second Sip.
</p><p>
b. Governing Law and Venue. These Terms shall be governed by the laws of the
State of Oregon, but not including the 1980 United Nations Convention on
Contracts for International Sale of Goods. You agree that Benton County, in
the State of Oregon shall be the exclusive and proper forum for any
action or proceeding, including arbitration, if any, related to the subject
matter of these Terms. You accept the personal jurisdiction of such courts.
</p><p>
c. Waiver, Severability. Waiver of a breach of or right hereunder will not
constitute a waiver of any other or subsequent breach or right. If any
provision herein shall be held by a court of competent jurisdiction to be
contrary to law, that provision shall be changed and interpreted so as to
best accomplish the objectives of the original provision to the fullest
extent allowed by law, and the remaining provisions herein will remain in
full force and effect.
</p>

<h2>20. Acknowledgment of Understanding - Entire Agreement.</h2>
<p>
You
acknowledge that you have read these Terms, understand them and agree to be
bound by them. You also agree that these Terms are the complete and
exclusive statement of the agreement between Second Sip and you and
supersede all proposals, representations or prior agreements, oral or
written, and any other communications between Second Sip and you relating
to the subject matter of these Terms. These Terms may not be amended, except
by an agreement in writing which is signed by authorized representatives of
Second Sip and you.
</p>
</div>