
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Contact Us" } %>

<div class="narrative contact_body">

<br/>
<p>
  If you have any technical issues or questions, or simply want to chat about artisan beer, wine or spirits,
  feel free to drop me a line at <a href="mailto:customersupport@secondsip.com">customersupport@secondsip.com</a>.
</p>
<p>
	Second Sip is currently a one-person operation.  That means that all of your emails
	go directly to the person who can answer your question.  However, since one person cannot
	monitor an inbox 24/7 it may take a little while for me to get back to you.
</p>
<br/>
<br/>
<br/>
<br/>

</div>

