
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Contact Us" } %>

<div class="narrative contact_body">

<br/>
<p>
  If you have a technical issue then contact us at 
  <a href="mailto:customersupport@secondsip.com">customersupport@secondsip.com</a>. 
</p>
<p>
  We are also very interested in your opinion.  Feel free to send any ideas about
  how we can improve the site to Ryan at 
  <a href="mailto:ryan@secondsip.com">ryan@secondsip.com</a>.
  If you want to stay up to date on the latest
  news then check out the blog at: 
  <a href='http://blog.secondsip.com'>http://blog.secondsip.com</a>.
</p>
<br/>
<br/>
<br/>
<br/>

</div>

