
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "iPhone App" } %>

<div class="narrative contact_body">

<br/>
<p>
	The Second Sip iOS app is the best way to take notes on the road.
	All of the data is loaded from and saved to the same servers that
	this web app uses, so you don't have to worry about backing them up.
</p>
<p>
	It also supports searching and browsing all of your notes, which makes
	looking them up a snap.  Check it out and let us know what you think.
</p>

<div class="ios_badge_container">
	<a href="itms://itunes.com/apps/secondsip">
	<img alt="Download Second Sip iPhone App" 
		src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.png"/>
	</a>
</div>

<br/>
<br/>
<br/>
<br/>

</div>


