<div class="list_item">
  <span class="item_name">
    <%= link_to admin_tag.name, admin_tag_path(admin_tag) %>
  </span>
  <span class="username">
    <%= link_to admin_tag.creator.username, admin_tag.creator %>
  </span>
</div>