
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Friendships" } %>

<% if @friendships && !@friendships.empty? %>
  <div class="main_list">
    <%= render :partial => 'friendship', :collection => @friendships %>
  </div>
<% else %>
  <%= render :partial => 'common/global/simple_message',
             :object => "There are no friendships." %>
<% end %>

<%= render :partial => 'common/lists/paging_bar' %>


