<%
  return if !params[:query].present?
  
  if displayed_taster.present?
    search_notes_url = "#{polymorphic_path([displayed_taster, @note_class])}/search?query=#{params[:query]}"
    search_products_url = "#{polymorphic_path([displayed_taster, @product_class])}/search?query=#{params[:query]}"
    search_producers_url = "#{polymorphic_path([displayed_taster, @producer_class])}/search?query=#{params[:query]}"
  else
    search_notes_url = search_notes_path(:entity_type => @note_class.name.tableize,
                        :query => params[:query])
    search_products_url = search_products_path(:entity_type => @product_class.name.tableize,
                        :query => params[:query])
    search_producers_url = search_producers_path(:entity_type => @producer_class.name.tableize,
                        :query => params[:query])
  end

  links = []
  links << link_to(@note_class.name.titleize.downcase.pluralize,
                   search_notes_url) if current_tab != :notes
  links << link_to(@product_class.name.titleize.downcase.pluralize,
                   search_products_url) if current_tab != :products
  links << link_to(@producer_class.name.titleize.downcase.pluralize,
                   search_producers_url) if current_tab != :producers
%>
<div class="rightpane alternate_entity_search_links">
  Search <%=raw links.join(" or ") %>
</div>


