<%
  return if @page_num.nil? || @page_size.nil? || @num_results.nil?
  return if (@page_num < 2) && (@num_results < @page_size)
  num_pages = (@num_results.to_f / @page_size.to_f).ceil
  on_last_page = (@page_num * @page_size) >= @num_results
%>
<div class="paging_bar">
  <%= link_to('&laquo;', page_path(@page_num - 1)) if @page_num > 1 %>
  <%= render(:partial => 'common/lists/page_number',
             :collection => (1..num_pages), :spacer_template => 'common/lists/page_number_spacer',
             :locals => { :current_page => @page_num }) %>
  <%= link_to('&raquo;', page_path(@page_num + 1)) if !on_last_page %>
</div>
  
