<%
  return if !lookup_names.present?
%>
<% lookup_names.each_with_index do |lookup_name, index| %>
  <li>
    <%= link_to(lookup_name, '#', :class => 'item_name lookup_link', :tabindex => '-1',
                :entity_type => entity_type, :lookup_type => lookup_type,
                :onclick => 'show_lookup_references(this); return false;') %>
    <%= link_to('X', '#', :class => 'remove_item', :tabindex => '-1',
                :onclick => "$(this).closest('li').remove(); return false;") %>
    <input type="hidden" name="<%= lookup_type_name %>_names[]" value="<%= lookup_name %>"/>
  </li>
<% end %>