<div class="list_item">
  <span class="item_name">
    <%= link_to taster.username, admin_profile_taster_path(taster) %>
    (<%= link_to taster.real_name, taster_path(taster) %>)
  </span>
  <span class="username">
    <%= taster.email %>
  </span>
  <p><%= truncate(taster.greeting, :length => 150) %></p>
</div>