

<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Registration" } %>

<div class="intro simple_intro">
<p>A profile with email address: <%= @taster.email %> already exists.  If you have forgotten your password, then simply fill out the <%= link_to 'password reset form', new_password_reset_path(:email => @taster.email) %>.
</p>
</div>
<br/><br/><br/><br/>





