
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Final Step - Email Verification" } %>

<div class="intro simple_intro">
<p>Thanks for signing up!</p>
<p>In order to ensure the security of the site,
   we require all members to verify their email address. An email has been sent to
   <%= @taster.email %> with a link that you can use to complete your registration.
</p>
</div>
<br/><br/><br/><br/>





