<%
  return if !lookups.present?
%>
<div class="details_row">
  <span class="label"><%= (lookups.count > 1) ? "#{label}s" : label %>:</span>
  <%= render :partial => 'common/details/lookup_link', :collection => lookups,
             :spacer_template => 'common/global/comma_spacer',
             :locals => { :entity_type => entity_type } %>
</div>