
<% if producer_description.present? %>
  <div class="details_notes clearfix">
    <div class="details_row">
      <span class="label">Notes:</span>
      <span class="content"><%= simple_format(producer_description) %> </span></div>
  </div>
<% end %>