
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Tags",
                        :new_item_path => new_tag_path } %>

<% if @tags && !@tags.empty? %>
  <div class="main_list">
    <%= render :partial => 'tag', :collection => @tags %>
  </div>
<% else %>
  <%= render :partial => 'common/global/simple_message',
             :object => "There are no tags." %>
<% end %>

<%= render :partial => 'common/lists/paging_bar' %>

