
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Reset Password" } %>

<div class="intro simple_intro">
<p>We&apos;re sorry, but the account was not found.  The URL may have expired - you might want to try
   filling out the reset form again <%= link_to 'here', new_password_reset_path %>.  You will then need to 
   follow the link in the email within 10 minutes.
</p>
<p>If you continue to have problems resetting your password then contact us at customersupport@secondsip.com.
</p>
</div>
<br/><br/><br/><br/>

 

