
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Reset Password" } %>

<div class="intro simple_intro">
<p>Instructions for setting a new password have
   been sent to <%= @taster.email %>.
</p>
</div>
<br/><br/><br/><br/>