<%
  spe_help_text = <<-eos
    <p>SPE stands for &quot;Six Pack Equivalent.&quot;  It provides a way to directly compare the cost
    of beer that is sold in different volumes by calculating what it would cost if purchased in a six-pack.
    This idea originated on the blog:
    <a href="http://www.its-pub-night.com/2009/06/six-pack-equivalent-calculator.html" target="_blank">
    It&apos;s Pub Night</a></p>
  eos
  buy_when_help_text = <<-eos
    <p>The &quot;Buy When&quot; field helps you remember which 
    #{@product_class.name.downcase.pluralize} you would spend your money on in the future.</p>
    <p>Unlike a quality score it is supposed to be purely subjective and to take price into account.</p>
  eos
%>

<% fields_for @product do |product_fields| %>
  <%= render :partial => 'common/edit/style_field',
             :locals => { :product_fields => product_fields, :title => 'Style:' } %>
  <%= render :partial => 'common/edit/region_field',
             :locals => { :product_fields => product_fields, :title => 'Brewed in:' } %>
  <%= render :partial => 'common/edit/price_field', :locals => { :product_fields => product_fields,
    :calculate_function => 'calculate_spe', :price_type_collection => Enums::BeerPriceType.collection,
    :selected => Enums::BeerPriceType::SIX_PACK } %>
<% end %>
