<%
  owner = fetch_taster(product.owner_id)
%>
<div class="list_item">
  <span class="item_name">
    <%= link_to "#{product.producer_name} #{product.name}", [owner, product] %>
  </span>
  <%= render :partial => 'common/details/sharing_icon', :locals => { :visibility => product.visibility } if viewing_own_data? %>
  <% if show_list_item_username %>
    <span class="username">
      <%= link_to owner.username, polymorphic_path([owner, @product_class]) %></span>
  <% end %>
  <p><%= truncate(product.description, :length => 150) %></p>
</div>