
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "Edit #{@product_class.name.titleize}" } %>

<%= render 'products/form' %>

<% content_for :right do %>
  <div class="rightpane_lookup">
  </div>
<% end %>

