<div class="list_item">
  <span class="item_name">
    <%= link_to h(reference_lookup.name), reference_lookup_path(reference_lookup) %>
  </span>
  <p><%= truncate(h(reference_lookup.description), :length => 150) %></p>
</div>