<%
  return if !product.region.present?
%>
<div class="details_row">
  <span class="label"><%= (product.kind_of?(Beer) || product.kind_of?(ReferenceBeer)) ? 'Brewed In' : 'Region' %>:</span>
  <span class="content">
  <%= link_to(product.region.name, '#', :class => 'lookup_link',
      :onclick => "show_lookup_references(this); return false;",
      :entity_type => product.type, :lookup_type => Enums::LookupType::REGION) %>
  </span>
</div>

