<%-
  is_admin_tag = defined?(is_admin_tag) ? is_admin_tag : false
  allow_remove = defined?(allow_remove) ? allow_remove : false
-%>

<div<%= " class=\"#{list_class}\"" if defined?(list_class) %>>
  <%- if defined?(title_text) -%>
    <span class="title"><%= title_text %></span>
  <%- end -%>
  <ul class="connected_sortable clearfix">
    <li class="empty">Just a spacer</li>
    <%- if tags.present? -%>
      <%- tags.each do |tag| -%>
        <li class="tag">
          <%= tag -%>
          <%- if allow_remove -%>
            <%- remove_function = is_admin_tag ? 'remove_admin_tag' : 'remove_tag' -%>
            <%= link_to "X", "#", :onclick => "return #{remove_function}('#{tag}');" -%>
          <%- end -%>
        </li>
      <%- end -%>
    <%- else -%>
    <%- end -%>
  </ul>
</div>

