
<%= render :partial => 'common/global/content_header' %>

<div class="details_row">
  <span class="label">Total Exceptions:</span>
  <span class="content"><%= @exceptions_count -%></span>
</div>

<br/><br/>

