<%= render :partial => 'common/global/content_header', :locals => { :title => @lookup.name} %>

<% if @lookup.description -%>
  <div class="details_row details_separator"><span class="details_label"> Description: </span>
  <div class="details_field"><%= simple_format(h(@lookup.description)) %> </div></div>
<% end %>

<%= link_to 'Edit', edit_lookup_path(@lookup) %>

<% content_for :right do %>
  <%= render :partial => 'common/edit/edit_admin_tags',
             :locals => { :tag_container => @lookup } %>
<% end %>

