<%-# This is the end div for the 'main' div -%>
    </div> 
    <div id="footer">
      <div id="footer_inner">
        <div id="footer_menu">
          <a href="#">About Second Sip</a> | 
          <a href="#">Contact Us</a> | 
          <a href="#">Terms</a> | 
          <a href="#">Privacy</a>
        </div>
      </div>
    </div>
</div>
</body>
</html>
