<%-
  link = case subnav_tab.tab
  when :notes then
    link_to('Notes', polymorphic_path([displayed_taster, @note_class]), :class => subnav_tab.css_class)
  when :products then
    link_to(@product_class.name.titleize.pluralize, polymorphic_path([displayed_taster, @product_class]), :class => subnav_tab.css_class)
  when :producers then
    link_to(@producer_class.name.titleize.pluralize, polymorphic_path([displayed_taster, @producer_class]), :class => subnav_tab.css_class)
  when :tasters then
    link_to('Tasters', tasters_path, :class => subnav_tab.css_class)
  when :friendships then
    link_to('Friendships', friendships_path, :class => subnav_tab.css_class)
  when :lookups then
    link_to('Lookups', lookups_path, :class => subnav_tab.css_class)
  when :resources then
    link_to('Resources', resources_path, :class => subnav_tab.css_class)
  when :tags then
    link_to('Tags', tags_path, :class => subnav_tab.css_class)
  when :product_notes then
    product = subnav_tab.container_object
    link_to('Notes', "#{polymorphic_path([product.owner, product])}?tab=notes", :class => subnav_tab.css_class)
  when :producer_notes then
    producer = subnav_tab.container_object
    link_to('Notes', "#{polymorphic_path([producer.owner, producer])}?tab=notes", :class => subnav_tab.css_class)
  when :producer_products then
    producer = subnav_tab.container_object
    link_to(@product_class.name.titleize.pluralize, "#{polymorphic_path([producer.owner, producer])}?tab=products", :class => subnav_tab.css_class)
  when :reference_lookups then
    link_to('Lookups', reference_lookups_path, :class => subnav_tab.css_class)
  when :reference_products then
    link_to('Products', reference_products_path, :class => subnav_tab.css_class)
  when :reference_producers then
    link_to('Producers', reference_producers_path, :class => subnav_tab.css_class)
  else raise 'Unexpected tab: ' + subnav_tab.tab.to_s
  end
-%>
<td><%= link %></td>