<%- return if !defined?(tabs) || tabs.nil? -%>
<div class="rightpane_subnav">
<table cellpadding="5" cellspacing="5"><tr>
  <%= render :partial => 'common/global/subnav_tab', :collection => tabs %>
</tr></table>
</div>
