<%-
  link = case topnav_tab.tab
  when :home then
    link_to('Home', "/", :class => topnav_tab.css_class)
  when :metadata then
    link_to('Metadata', lookups_path, :class => topnav_tab.css_class)
  when :users then
    link_to('Users', tasters_path, :class => topnav_tab.css_class)
  when :beverage then
    link_to(@note_class.name.titleize.pluralize,
            notes_path(nil, @note_class.name.tableize, false), :class => topnav_tab.css_class)
  when :user then
    link_to(@displayed_taster.username, taster_path(@displayed_taster), :class => topnav_tab.css_class)
  when :my_notes then
    link_to("My Notes", notes_path(@current_taster.username), :class => topnav_tab.css_class)
  else raise 'Unexpected tab'
  end
-%>
<li><%= link %></li>