
<%= render :partial => 'common/global/content_header',
           :locals => { :title => "New #{@note_class.name.titleize}" } %>

<%= render 'notes/form' %>

<% content_for :right do %>
  <div class="rightpane_lookup">
  </div>
<% end %>
